config BOARD_VIBAMIX_XIAO
	select SOC_NRF54L15_CPUAPP if BOARD_VIBAMIX_XIAO_NRF54L15_CPUAPP
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_VIBAMIX_XIAO_NRF54L15_CPUFLPR || \
		BOARD_VIBAMIX_XIAO_NRF54L15_CPUFLPR_XIP